@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap");

* {
  font-family: "Public Sans", serif;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.menu {
  background: #02212d;
  position: flex;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  margin-bottom: 1rem;
}

.menu header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.menu header .logo a {
  font-size: 46px;
  color: white;
}

.menu header ul {
  display: flex;
  list-style: none;
}

.menu header nav ul li a {
  text-align: none;
  color: white;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.menu header nav ul li a:hover {
  color: #598392;
}




footer {
  background-color: #02212d;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin: -1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

footer a:hover {
  color: #00aced;
}

footer div {
  margin-top: 10px;
}
