@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap");

* {
  font-family: "Public Sans", serif;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.menu {
  background: #02212d;
  position: flex;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  margin-bottom: 1rem;
}

.menu header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.menu header .logo a {
  font-size: 46px;
  color: white;
}

.menu header ul {
  display: flex;
  list-style: none;
}

.menu header nav ul li a {
  text-align: none;
  color: white;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.menu header nav ul li a:hover {
  color: #598392;
}

.contenedor_presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 15%;
  padding-block: 10rem;
  font-size: 1.2rem;
  p {
    margin-inline: 5%;
  }
  img {
    margin-inline: 5%;
  }
}

.borde {
  margin-bottom: 5rem;
  .skils_titulo {
    padding-block: 1rem;
    background-color: rgba(0, 0, 0, 0.178);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  .skils {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 7rem;
      margin-block: 3rem 5rem;
      margin-inline: 2rem;
    }
    img:hover {
      transform: scale(1.1);
      transition: 0.3s ease-in-out;
    }
  }
}

.tabla_experiencia {
  background-color: rgba(128, 128, 128, 0.281);
  padding: 7rem;
  margin-bottom: 10rem;
  .titulo {
    display: inline-block;
    font-weight: 500;
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  .titulo:hover {
    transition: 1.3s;
    color: #00aced;
  }
  #expe_informacion {
    display: flex;
    padding-top: 5rem;
    .year {
      display: inline-block;
      text-align: center;
      width: 30%;
      h1 {
        font-size: 3rem;
        font-weight: 300;
      }
    }
    .info {
      width: 70%;
      max-width: 80rem;
      .subtitulo {
        font-weight: 500;
        font-size: 2.5rem;
        padding-bottom: 2rem;
      }
      .informacion {
        font-weight: 400;
        font-size: 1.5rem;
      }
    }
  }
}

footer {
  background-color: #02212d;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin: -1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

footer a:hover {
  color: #00aced;
}

footer div {
  margin-top: 10px;
}
