p{
    background-color: rgba(128, 128, 128, 0.808);
    display: block;
    width: 25rem;
    text-align: center;
    margin: 2rem 5rem 2rem;
   }

   span{
    display: block;
    width: 18rem;
    margin-left: 5rem;
    font-size: 3rem;
    font-weight: bold;
   }

   h6{
    display: block;
    width: 18rem;
    margin-left: 5rem;
    font-weight: 100;
   }

   button{
        display: inline-block;
        background-color: white;
        margin: 10px;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid;
        font-size: 0.5rem;
        margin-left: 5rem;
   }