    
            @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');        
            *{
                background-color:rgb(255, 246, 196);
                font-family: "Playfair Display", serif;
                margin: 0%;
            }
    
            .contenedor{
                display: flex; /* Usar Flexbox */
                align-items: center; /* Centrar verticalmente */
                padding-top: 9rem;
                padding-left: 24%; /* Ajustar el padding izquierdo */
                gap: 2rem; /* Espacio entre el texto y la imagen */
            }
    
            h1.titulo{
                display: block;
                width: 30rem;
                font-weight: 550;
                font-size: 3rem;
                word-spacing: 0.1rem;
               margin-bottom: 1rem;
            }
    
            p.parrafo{
                display: block;
                width: 26rem;
                font-size: 1.5rem;
                
            }
    
            .suscribete{
                width: 150px;
                height: 50px;
                background-color: darkcyan;
                border: 0px;
                border-radius: 2px;
                color: white;
                font-weight: 500;
            }
    
            .comparar{
                width: 150px;
                height: 50px;
                color: darkcyan;
                border: 0px;
                font-weight: 900;
                
            }
    
            img {
                max-width: 100%; /* Asegurar que la imagen no se desborde */
                height: auto; /* Mantener la proporción de la imagen */
            }
    
            .botones {
                margin-top: 1rem; /* Espacio entre el texto y los botones */
            }
    
    
            .terminos p{
                margin-top: 3rem;
                background-color:rgba(127, 187, 255, 0.452);
                width: 57%;
                display: inline-block;
                text-align: center;
                height: flex;
                padding-left: 25%;
                padding-right: 20%;
                
                a{
                    background-color:rgba(127, 187, 255, 0);
                    color: rgb(141, 156, 240);
                }
            }