.texto {
    font-style: oblique;           
}

.titulo{
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(128, 202, 202);
    margin-bottom: -2px;
}

.autor{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(92, 161, 161);
    
}

.prologo{
    font-size: 1.5rem;
}
